
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="~/Home/Login" method="post">
    <lable>Username</lable>
    <input type="text" name="UserName" class="form-control" /><br />
    <lable>Password</lable>
    <input type="text" name="Password" class="form-control" /><br />
    <input type="submit" class="btn btn-success"/>
</form>